.header {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
        url(../images/weather.jpg);

    height: 50%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-text {
    position: absolute;
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
