
.header {
  position: relative;
  color: white;
  text-align: center;
  background: #1abc9c;
}

.inndeling {
  display: flex;
  padding: 10px;
  margin: 10px;
 
  
}
.oppskrift {
  position: relative;
  border-style: double;
  width: 33.33%;
  float: left;
  padding: 5px;
  margin: 5px;
}


img {
  max-width: 300px;
  margin: 2px;
}