
.header {
  position: relative;
  color: white;
  text-align: center;
  background: #1abc9c;
  padding: 10px;

}

.inndeling {
  display: flex;
  padding: 10px;
  margin: 5px;
 
  
}
.oppskrift {
  position: relative;
  border-style: double;
  width: 33%;
  float: left;
  padding: 5px;
  padding-right: 5px;
  margin: 5px;
}


img {
  position: relative;
  max-width: 100%;
  margin: 2px;
  border-style: solid;
  object-fit: fill;
}

.button {
  font-size: 12px;
  padding: 10px 24 px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
}

.om-meg {
  color: white;
  text-align: center;
  background-color: #1abc9c;
}